/* You can add global styles to this file, and also import other style files */

  .mat-dialog-container{
    width:50% !important;
    height:50% !important;
    position: absolute !important;
    top: 20% !important;
    left: 25% !important;
    background: #fff !important;
    z-index: 9999 !important;
}

